/* Core */
html {
    height: 100%;
}

body {
    box-sizing: border-box;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
    margin: 0;
    font-family: Work Sans, sans-serif;
    font-size: 16px;
    border: solid 0px red;
    border-top: none;
    border-bottom: none;
}

#gui {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#guiHead {
    height: 120px;
    flex: 0 1 120px;
}
#guiHeadMenu span {
    cursor: pointer;
}
#guiHeadMenu input {
    width: 100px;
}

#guiBottom {
    flex: 0 1 40px;
}

#guiMain {
    display: flex;
    flex: 1 1 auto;
    background-color: #eee;
    overflow: hidden;
}

#guiMainPanel {
    display: flex;
    flex: 1 1 auto;
    background-color: #ddd;
}
    #guiMainPanel > .panel {
        display: none;
        flex-direction: column;
    }
        #guiMainPanel > .panel.active {
            display: flex;
        }

#guiDungeon {
    flex-direction: row !important;
    overflow: hidden;
}
    #guiDungeon .unitsel {
        flex: 0 0 110px;
        border-right: 1px solid #00c;
        overflow-y: auto;
        padding: 4px;
        text-align: center;
    }
        #guiDungeon .unitsel .unitlist {
            padding: 0 5px;
        }
    #guiDungeon #guiDungeonRoom {
        overflow: hidden;
        padding: 4px;
        flex: 1 0 auto;
    }

#battle-log {
    max-height: 100px;
    overflow-y: auto;
}

#guiChat {
    display: flex;
    height: 100%;
    flex: 1 1 20%;
    transition: all 0.5s ease-in-out;
}
    #guiChat.hidden {
        flex: 0.0001 0 5px;
    }
        #guiChat.hidden #chatContent {
            flex-grow: 0.000001;
            width: 0;
            padding: 0;
        }
#chatToggle {
    flex: 0 0 5px;
    background-color: #bbb;
}
#chatContent {
    width: 200px;
    padding: 4px;
    transition: all 0.5s ease-in-out;
}

/* Unit */
.unit {
    background-color: #ffffff;
    box-shadow: 1px 0 15px rgba(0, 0, 0, 0.5);
    width: 80px;
    height: 80px;
    position: relative;
    display: inline-block;
    user-select: none;
}

    .unit .header {
        text-align: center;
        background-color: #E0E0E0;
        font-size: 80%;
        white-space: nowrap;
        overflow: hidden;
    }

    .unit .level {
        text-align: center;
        background-color: #f0f0ff;
        font-size: 100%;
    }

    .unit .attack {
        text-align: center;
        background-color: #fff0f0;
        font-size: 100%;
    }

    .unit .hp {
        height: 22px;
        width: 100%;
        background-color: #E08080;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .unit .hp .numeric {
        position: absolute;
        text-align: center;
        height: 22px;
        width: 100%;
        z-index: 2;
    }

    .unit .hp .current {
        position: absolute;
        z-index: 1;
        height: 22px;
        background-color: #80E080;
    }

    .drag-lane {
        display: grid;
        grid-auto-columns: 90px;
        grid-auto-flow: column;
    }

.unit-cell {
    width: 80px;
    height: 80px;
    margin: 5px;
    border: 1px solid #aaaaaa;
}

.tooltip {
    position: absolute;
    z-index: 100;
    min-width: 50px;
    min-height: 20px;
    background-color: white;
    border: 1px solid black;
    box-shadow: 1px 0 15px rgba(0, 0, 0, 0.5);
}